/* Common Styles */
body {
    font-family: "Poppins", sans-serif;
}

/* Header Section */
.head {
    display: flex;
    justify-content: center;
}
.navbar {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    font-size: 24px;
    font-weight: 700;
}
.menus {
    display: flex;
    align-items: center;
}
.menus a {
    padding-left: 34px;
    text-decoration: none;
}
.menus li {
    font-size: 16px;
    font-weight: 600;
    color: black;
    list-style: none;
}
.menus img {
    width: 26px;
    height: auto;
}
